
@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: "Play", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Play", sans-serif;
}

.App {
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  margin: 10px;
}

h2 {
  margin: 20px 0;
}


h1{
  font-size: 24px;
}